* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.white-text {
  color: #ffffff;
}

.title {
  text-align: center;
  margin: 1.5rem auto;
}

body {
  background-color: #f3f3f3;
}

/* ******************************************************************* */
/*NAVBAR LOGO DESIGN  */
.navbar-logo {
  display: flex;
  justify-content: flex-start;
}
.ARTS {
  color: #a30000;
}

/* *********************************************************** */
/* NAVBAR DESIGN */
.navbar {
  background-color: #ab92bf;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.navbar > * {
  margin: auto 2rem;
}

.navbar-list {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-item {
  padding: 1.5rem 1.5rem;
}

.navbar-item:hover {
  background-color: #937ea5;
}

.btn-apply-now {
  padding: 1rem 1.5rem;
  border: none;
  background-color: #a30000;
  cursor: pointer;
}

.btn-apply-now:hover {
  background-color: #920000;
}

/* *********************************************************** */
/* HEADER */
.header {
  background-color: #010101;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-left: 2rem;
}

.headline {
  font-size: 4.5rem;
  font-weight: bold;
}

/* *************************************** */

/* Courses */
.courses {
  display: flex;
  overflow: visible;
  justify-content: space-around;
  margin: 0 auto;
}

/* **************************** */
/* course card */
.course-card {
  height: 200px;
  width: 530px;
  display: flex;
  gap: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  background-color: #ffffff;
}

.course-info {
  display: flex;
  flex-direction: column;
  margin: 1rem 5px;
  justify-content: space-between;
}

.btn-more-info {
  width: 140px;
  padding: 0.5rem;
  border: none;
  background-color: #655a7c;
  border-radius: 15px;
  cursor: pointer;
}

.btn-more-info:hover {
  background-color: #353141;
}
