/* delete this after */
.just-another-div {
  margin: 20rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.white-text {
  color: #ffffff;
}

.title {
  text-align: center;
  margin: 1.5rem auto;
}

body {
  background-color: #f3f3f3;
}

/* ******************************************************************* */
/*NAVBAR LOGO DESIGN  */
.navbar-logo {
  display: flex;
  justify-content: flex-start;
}
.ARTS {
  color: #a30000;
}

/* *********************************************************** */
/* NAVBAR DESIGN */
.navbar {
  background-color: #ab92bf;
  color: #ffffff;
}

.nav-container {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.navbar-list {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navbar-item {
  padding: 1.5rem 1.5rem;
}

.navbar-item:hover {
  background-color: #937ea5;
}

.btn-apply-now {
  padding: 1rem 1.5rem;
  border: none;
  background-color: #a30000;
  cursor: pointer;
}

.btn-apply-now:hover {
  background-color: #920000;
}

/* *********************************************************** */
/* HEADER */
.header {
  background-color: #010101;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-left: 2rem;
}

.headline {
  font-size: 4.5rem;
  font-weight: bold;
}

/* *************************************** */

/* Courses */
.courses {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  margin: 0 auto;
  justify-content: space-around;
}

/* **************************** */
/* course card */
.course-card {
  margin: 1rem auto;
  height: 200px;
  width: 530px;
  display: flex;
  gap: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 2px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  background-color: #ffffff;
}

.course-info {
  display: flex;
  flex-direction: column;
  margin: 1rem 5px;
  justify-content: space-between;
}

.btn-more-info {
  width: 140px;
  padding: 0.5rem;
  border: none;
  background-color: #655a7c;
  border-radius: 15px;
  cursor: pointer;
}

.btn-more-info:hover {
  background-color: #353141;
}

.btn-load-more {
  border: none;
  background-color: #e2e2e2;
  padding: 0.75rem 2rem;
  cursor: pointer;
}

.btn-load-more:hover {
  background-color: #d1d1d1;
}

.offers {
  padding: 1rem;
  margin: 2rem auto;
}
/* ***************************** */
/* OFFER CARD LIST */
.offer-list {
  display: flex;
  justify-content: space-around;
}

/* OFFER CARD */
.offers {
  background-color: #010101;
}

.offer-card {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #ffffff;
}

.offer-card > .info {
  text-align: justify;
  margin: 0 1.25rem;
}

.offer-card > * {
  margin: 0.5rem 0.25rem;
}

.offer-title {
  text-align: center;
}

.btn-card {
  align-self: stretch;
  margin: 1rem auto;
  padding: 0.5rem 0;
  width: 180px;
  background-color: #920000;
  border: none;
}

/* ********************* */
/* MIssion and Vision */
.mission-vision {
  margin: 2rem;
  text-align: justify;
}

/* ********************* */
/* STAFF and STAFF CARD*/
.staff-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: auto;
  grid-gap: 1rem;
  justify-content: center;
  margin-bottom: 5rem;
}

.staff-card {
  position: relative;
  width: 340px;
}

.staff-img {
  width: 100%;
}

.staff-info {
  position: absolute;
  bottom: 1%;
  background-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, 0.5); /* this is for see through effect */
  width: 100%;
  color: #ffffff;
  transition: 0.5s ease;
  opacity: 0;
  text-align: center;
  padding: 1.25rem;
}

.staff-card:hover .staff-info {
  opacity: 1;
}

/* *********** */
/* FOOTER */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #010101;
  width: 100%;
  padding: 0.5rem;
  text-align: center;
}
